.listTasks {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.listTasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 15px;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.listTasks__item--hidden {
    display: none;
}

.listTasks__content--done {
    text-decoration: line-through;
}