.listTasks {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listTasks__item {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 15px;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding: 10px;
}

.list__button {
    justify-self: center;
    width: 30px;
    height: 30px;
    background-color: #085f00;
    color: white;
    border: none;
}

.list__button:hover {
    background-color: #0c9400;
}

.list__button:active {
    background-color: hsl(115, 100%, 39%);
}

.listTasks__content--done {
    text-decoration: line-through;
}

.list__button--remove {
    background-color: #ff0000;
}

.list__button--remove:hover {
    background-color: #ff3333;
}

.list__button--remove:active {
    background-color: #ff6666;
}