html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Montserrat", sans-serif;
    background-color: #eee;
    word-break: break-word;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}